In [4]:
import numpy as np
from scipy import stats

# Given data
sample_mean = 3050
n = 25
X_mean = 600
X_std = 25

# Calculate theoretical mean weekly cost
theoretical_mean = 1000 + 5 * X_mean
theoretical_mean

4000

In [8]:
# Calculate standard error
se = 5 * X_std / np.sqrt(n)
se

25.0

In [10]:
# Calculate test statistic
t_stat = (sample_mean - theoretical_mean) / se
t_stat

-38.0

In [11]:
print(f"Theoretical mean weekly cost: ${theoretical_mean:.2f}")
print(f"Standard error: ${se:.2f}")
print(f"Test statistic (t): {t_stat:.4f}")

# Calculate p-value (one-tailed test)
p_value = 1 - stats.t.cdf(t_stat, df=n-1)

print(f"P-value: {p_value:.4f}")

Theoretical mean weekly cost: $4000.00
Standard error: $25.00
Test statistic (t): -38.0000
P-value: 1.0000

In [14]:
# Determine the critical value for a one-tailed test with alpha = 0.05
alpha = 0.05
critical_value = stats.t.ppf(1 - alpha, df=n-1)
critical_value

print(f"Critical value (t): {critical_value:.4f}")

Critical value (t): 1.7109

In [ ]:
#We compare the test statistic (-38.0000) with the critical value (1.7109).
#Since the test statistic (-38.0000) is less than the critical value (1.7109), we fail to reject the null hypothesis.

In [ ]:
#conclusion
''' In conclusion, this analysis suggests that the restaurant owners' claim of higher operating costs is not supported by the data.
Our sample data indicates that the observed costs ($3,050 on average) are significantly lower than what the theoretical model predicts ($4,000 on average).
Instead, the data indicates that the actual operating costs are significantly lower than what the theoretical model predicts.
 This unexpected result warrants further investigation into the factors contributing to the lower costs or potential issues with the data collection process.'''